<div class="container">
  <div class="row">
    <div class="col s12">
      <h5>{{link-to "
        < Events" "events"}}</h5>
    </div>
  </div>
  <div class="row ">
    <div class="col s12 green-text text-darken-4 ">
      <h3>{{model.title}}</h3>
    </div>
    <div class="col s12 green-text ">
      <h5>{{model.date}} in {{model.location}}</h5>
    </div>
    <div class="col s12 green-text text-darken-2 ">
      <h6>{{model.address}}</h6>
    </div>

    <!-- eventbrite -->
      <div class="row ">
        <div class="col s12 margin-top-30 ">
          <div style="width:100%; text-align:left; ">
            <iframe src=" {{model.eventbriteLink}} " frameborder="0 " height="350 " width="100% " vspace="0 " hspace="0 " marginheight="5 " marginwidth="5 " scrolling="auto " allowtransparency="true ">
            </iframe>
          </div>
        </div>
      </div>
    <!-- end eventbrite -->

    <div class="col s12 ">
      {{#md-card image=model.image}}
        {{#md-card-content}}
          {{!-- content cards --}}
          <div class="row event-content-card-height ">
            <div class="col s12 m12 l4 ">
              {{#md-card-panel class="green" bodyClass="white-text"}}
              <h5>Investor Panel</h5>
              <p>
                Hear from a seasoned investor panel lessons learned from seeing startups succeed and fail.
              </p>
              <p>
                Understand how the landscape of investment is changing and what investors are currently looking for.
              </p>
              {{/md-card-panel}}
            </div>
            <div class="col s12 m12 l4 ">
              {{#md-card-panel class="green" bodyClass="white-text"}}
              <h5>Speed Investing &amp; Mentoring</h5>
              <p>
                Participate in rotating 3-minute sessions.
              </p>
              <p>
                Investors and mentors will get to effectively meet entrepreneurs with great ideas while entrepreneurs will get real time feedback from investors and mentors.
              </p>
              {{/md-card-panel}}
            </div>
            <div class="col s12 m12 l4 ">
              {{#md-card-panel class="green" bodyClass="white-text"}}
              <h5>Format</h5>
              <p>
                <ul>
                  <li>645-715 Registration &amp; Welcome</li>
                  <li>715-730 Startup Panel</li>
                  <li>730-800 Investor Panel</li>
                  <li>800-900 Speed Investing &amp; Mentoring</li>
                  <li>900-930 Networking</li>
                </ul>
              </p>
              {{/md-card-panel}}
            </div>
          </div>
          {{!-- end content cards --}}
        {{/md-card-content}}
      {{/md-card}}
    </div>
  </div>


  {{!-- keynote --}}
  {{#if model.eventKeynote}}
    {{keynote-speaker speaker=model.eventKeynote}}
  {{/if}}
  {{!-- keynote --}}

<!-- Panel Moderator -->
  {{#if model.eventModerator}}
    {{panel-moderator moderator=model.eventModerator}}
  {{/if}}
  <!-- end Panel Moderator -->

<!-- investors -->
  <div class="row ">
    <div class="col s12 green-text text-darken-4 ">
      <h3>Investors &amp; Mentors</h3>
      {{#each model.eventInvestors as |investor|}}
        {{investor-profile-card investor=investor}}
      {{else}}
        <div>
          <p>
            Investors to be posted shortly. Please check our {{#link-to 'investors'}}investors page{{/link-to}} for previously feautured investors.
          </p>
        </div>
      {{/each}}
    </div>
  </div>
<!-- end investors -->

<!-- extended panel -->
{{#if model.eventExtendedPanel}}
  {{extended-panel panel=model.eventExtendedPanel}}
{{/if}}
<!-- end extended panel -->

</div>
